In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv("../raw_data/real_estate_data.csv",index_col="Unnamed: 0").drop(columns="Unnamed: 0.1")

In [22]:
df = df.drop(columns=["elevator","heating","floor"])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6860 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         6860 non-null   object
 1   rooms         6845 non-null   object
 2   surface       6853 non-null   object
 3   neighborhood  6860 non-null   object
dtypes: object(4)
memory usage: 268.0+ KB

In [24]:
# surface
# dropping nulls
df_nonull = df[df['surface'].notna()]
# cleaning string
new = df_nonull["surface"].str.split(" ", n = 1, expand = True)
df_nonull["surface"] = new[0]
# filter numbers
df_nonull = df_nonull[df_nonull['surface'].str.isnumeric()]
# to float
df_nonull["surface"] = df_nonull["surface"].astype(float)

df = df_nonull

/tmp/ipykernel_4388/3991259347.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonull["surface"] = new[0]

In [25]:
# new data frame with split value columns
new = df["neighborhood"].str.split(" en ", n = 1, expand = True)
  
# making separate housetype
df["nhousetype"]= new[0]
  
# making separate dirty neighborhood
df["ndirty"]= new[1]
  
# cleaning neighborhood
new = df["ndirty"].str.split(" en ", n = 1, expand = True)
df["neighborhood"] = new[1] 
df = df.drop(columns="ndirty")

In [27]:
# price
# cleaning string
new = df["price"].str.split(" ", n = 1, expand = True)
new[0] = new[0].str.replace(".","")
df["price"] = new[0]
# number filter
df = df[df['price'].str.isnumeric()]
# to float
df["price"] = df["price"].astype(float)

/tmp/ipykernel_4388/1971881895.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new[0] = new[0].str.replace(".","")
/tmp/ipykernel_4388/1971881895.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["price"] = df["price"].astype(float)

,price,rooms,surface,neighborhood,nhousetype
0,566500.0,2 habs.,87.0,Chamberí,Piso
1,310500.0,3 habs.,78.0,"Calle de Abtao, Retiro",Piso
2,220000.0,4 habs.,103.0,"Calle del General Ricardos, 240, Carabanchel",Piso
3,171000.0,2 habs.,81.0,"De Puentelarra, Villa de Vallecas",Piso
4,369000.0,3 habs.,83.0,"Calle del Águila, Centro",Piso
...,...,...,...,...,...
295,515000.0,4 habs.,106.0,"Calle de San Bernardo, Centro",Piso
296,280000.0,3 habs.,99.0,"Avenida de Canillejas a Vicálvaro, San Blas",Piso
297,182100.0,1 hab.,52.0,Villaverde,Ático
298,220000.0,1 hab.,42.0,"Calle de la Luna, 28, Centro",Ático
299,215000.0,3 habs.,66.0,"Castillo de Coca, San Blas",Piso

In [29]:
# rooms
# cleaning string
new = df["rooms"].str.split(" ", n = 1, expand = True)
# to float
new[0] = new[0].astype(float)
df["rooms"] = new[0]
df_clean = df

/tmp/ipykernel_4388/3675884462.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["rooms"] = new[0]

,price,rooms,surface,neighborhood,nhousetype
0,566500.0,2.0,87.0,Chamberí,Piso
1,310500.0,3.0,78.0,"Calle de Abtao, Retiro",Piso
2,220000.0,4.0,103.0,"Calle del General Ricardos, 240, Carabanchel",Piso
3,171000.0,2.0,81.0,"De Puentelarra, Villa de Vallecas",Piso
4,369000.0,3.0,83.0,"Calle del Águila, Centro",Piso
...,...,...,...,...,...
295,515000.0,4.0,106.0,"Calle de San Bernardo, Centro",Piso
296,280000.0,3.0,99.0,"Avenida de Canillejas a Vicálvaro, San Blas",Piso
297,182100.0,1.0,52.0,Villaverde,Ático
298,220000.0,1.0,42.0,"Calle de la Luna, 28, Centro",Ático
299,215000.0,3.0,66.0,"Castillo de Coca, San Blas",Piso

In [30]:
df_clean.head(60)

,price,rooms,surface,neighborhood,nhousetype
0,566500.0,2.0,87.0,Chamberí,Piso
1,310500.0,3.0,78.0,"Calle de Abtao, Retiro",Piso
2,220000.0,4.0,103.0,"Calle del General Ricardos, 240, Carabanchel",Piso
3,171000.0,2.0,81.0,"De Puentelarra, Villa de Vallecas",Piso
4,369000.0,3.0,83.0,"Calle del Águila, Centro",Piso
5,1400000.0,4.0,208.0,Tetuán,Piso
6,700000.0,4.0,133.0,Centro,Piso
7,279000.0,1.0,69.0,"Plaza de Cascorro, 11, Centro",Piso
9,259000.0,2.0,85.0,Carabanchel,Piso
10,165000.0,1.0,58.0,"Camino de Valderribas, 96, Puente de Vallecas",Piso
11,1700000.0,4.0,263.0,Barrio de Salamanca,Piso
12,1200000.0,4.0,237.0,Chamartín,Piso
13,2060000.0,3.0,330.0,Chamberí,Dúplex
14,250000.0,3.0,100.0,"C. del Corindón, Usera",Piso
15,2800000.0,4.0,337.0,Chamberí,Piso
16,1020000.0,4.0,208.0,Centro,Piso
17,895000.0,4.0,217.0,Tetuán,Piso
18,2500000.0,5.0,281.0,Barrio de Salamanca,Piso
19,1250000.0,6.0,255.0,"Calle Marqués de Urquijo, Moncloa - Aravaca",Piso
20,1150000.0,4.0,257.0,Chamberí,Piso
21,360000.0,2.0,80.0,"Calle de la Dulzaina, 3, Ciudad Lineal",Piso
22,600000.0,4.0,197.0,Centro,Piso
23,435000.0,2.0,52.0,"De Castelló, Barrio de Salamanca",Piso
24,142000.0,3.0,71.0,"Guabairo, 17, Carabanchel",Piso
26,580000.0,3.0,116.0,Arganzuela,Piso
28,299000.0,2.0,64.0,"Calle Robles, 1, Puente de Vallecas",Piso
29,278100.0,2.0,65.0,"Corredera Baja de San Pablo, 22, Centro",Piso
30,450000.0,1.0,76.0,"Costanilla de Los Ángeles, Centro",Apartamento
31,439000.0,2.0,130.0,Fuencarral - El Pardo,Piso
32,2030000.0,3.0,250.0,Chamberí,Piso
33,3000000.0,5.0,446.0,Chamartín,Ático
34,97000.0,1.0,30.0,"Calle del Cactus, 45, Tetuán",Loft
35,366000.0,2.0,87.0,"Calle Príncipe, 15, Centro",Piso
36,899000.0,3.0,166.0,Chamberí,Piso
37,1830000.0,5.0,288.0,Chamberí,Piso
38,100000.0,2.0,120.0,"Calle de Manola y Rosario, Villaverde",Piso
39,1250000.0,4.0,212.0,"Juan XXIII, Moncloa - Aravaca",Ático
40,1390000.0,4.0,200.0,Barrio de Salamanca,Piso
41,399000.0,3.0,89.0,"Calle de Cavanilles, 1, Retiro",Piso
42,1950000.0,4.0,296.0,Centro,Piso
43,340000.0,2.0,55.0,"Calle Marqués de Santa Ana, Centro",Piso
45,225000.0,3.0,98.0,"Calle de Vicenta Villegas, 25, Latina",Piso
46,258500.0,3.0,95.0,Moratalaz,Piso
47,1690000.0,4.0,307.0,Barrio de Salamanca,Piso
49,115000.0,2.0,40.0,"Calle de Lezo, 8, Villaverde",Piso
50,1495000.0,5.0,282.0,Chamartín,Piso
51,237000.0,3.0,87.0,Carabanchel,Ático
52,650000.0,3.0,116.0,Tetuán,Piso
53,650000.0,4.0,155.0,Chamberí,Piso
54,1395000.0,3.0,150.0,Barrio de Salamanca,Piso
55,169000.0,3.0,86.0,"Avenida Real de Pinto, Villaverde",Piso
56,305000.0,3.0,90.0,"Calle de Ábalos, Ciudad Lineal",Piso
57,210000.0,1.0,46.0,"Calle de Bravo Murillo, 21, Chamberí",Planta baja
58,120000.0,2.0,57.0,"C/ Los Riojanos, Puente de Vallecas",Piso
59,3190000.0,6.0,372.0,Barrio de Salamanca,Piso
60,460000.0,3.0,115.0,"Calle de Andrés Borrego, 12, Centro",Piso
61,1600000.0,5.0,450.0,Fuencarral - El Pardo,Finca rústica
62,165000.0,3.0,87.0,"Alcaraván, Latina",Piso
63,112500.0,3.0,63.0,"Calle del Puerto del Bruch, Villa de Vallecas",Piso
64,135000.0,2.0,61.0,"De la Sierra de Los Filabres, Puente de Vallecas",Piso