In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../raw_data/real_estate_data.csv",index_col="Unnamed: 0").drop(columns="Unnamed: 0.1")

In [3]:
df = df.drop(columns=["elevator","heating","floor"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6860 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         6860 non-null   object
 1   rooms         6845 non-null   object
 2   surface       6853 non-null   object
 3   neighborhood  6860 non-null   object
dtypes: object(4)
memory usage: 268.0+ KB

In [5]:
# surface
# dropping nulls
df_nonull = df[df['surface'].notna()]
# cleaning string
new = df_nonull["surface"].str.split(" ", n = 1, expand = True)
df_nonull["surface"] = new[0]
# filter numbers
df_nonull = df_nonull[df_nonull['surface'].str.isnumeric()]
# to float
df_nonull["surface"] = df_nonull["surface"].astype(float)

df = df_nonull

/tmp/ipykernel_10420/3991259347.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonull["surface"] = new[0]

In [6]:
# new data frame with split value columns
new = df["neighborhood"].str.split(" en ", n = 1, expand = True)
  
# making separate housetype
df["nhousetype"]= new[0]
  
# making separate dirty neighborhood
df["ndirty"]= new[1]
  
# cleaning neighborhood
new = df["ndirty"].str.split(" en ", n = 1, expand = True)
df["neighborhood"] = new[1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: x.split(", ")[-1])

df = df.drop(columns="ndirty")

In [7]:
df["neighborhood"].unique()

array(['Chamberí', 'Retiro', 'Carabanchel', 'Villa de Vallecas', 'Centro',
       'Tetuán', 'Puente de Vallecas', 'Barrio de Salamanca', 'Chamartín',
       'Usera', 'Moncloa - Aravaca', 'Ciudad Lineal', 'Arganzuela',
       'Fuencarral - El Pardo', 'Villaverde', 'Latina', 'Moratalaz',
       'Vicálvaro', 'Barajas', 'Hortaleza', ' Madrid Capital', 'San Blas'],
      dtype=object)

In [8]:
# price
# cleaning string
new = df["price"].str.split(" ", n = 1, expand = True)
new[0] = new[0].str.replace(".","")
df["price"] = new[0]
# number filter
df = df[df['price'].str.isnumeric()]
# to float
df["price"] = df["price"].astype(float)

/tmp/ipykernel_10420/4006196459.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new[0] = new[0].str.replace(".","")

In [9]:
# rooms
# cleaning string
new = df["rooms"].str.split(" ", n = 1, expand = True)
# to float
new[0] = new[0].astype(float)
df["rooms"] = new[0]
df_clean = df

In [10]:
df_clean["nhousetype"].unique()

array(['Piso', 'Dúplex', 'Apartamento', 'Ático', 'Loft', 'Planta baja',
       'Finca rústica', 'Estudio', 'Casa adosada', 'Casa o chalet'],
      dtype=object)

In [11]:
localization = {'Piso':'Flat', 'Dúplex':'Duplex', 'Apartamento':'Apartment', 'Ático':'Attic', 'Loft':'Loft', 'Planta baja':'Ground floor',
       'Finca rústica':'Rural property', 'Estudio':'Study', 'Casa adosada':'Single-family semi-detached', 'Casa o chalet':'House or chalet'}

In [15]:
 df_clean.drop_duplicates().reset_index(drop = True)

         price  rooms  surface       neighborhood nhousetype
0     566500.0    2.0     87.0           Chamberí       Piso
1     310500.0    3.0     78.0             Retiro       Piso
2     220000.0    4.0    103.0        Carabanchel       Piso
3     171000.0    2.0     81.0  Villa de Vallecas       Piso
4     369000.0    3.0     83.0             Centro       Piso
...        ...    ...      ...                ...        ...
5751  515000.0    4.0    106.0             Centro       Piso
5752  280000.0    3.0     99.0           San Blas       Piso
5753  182100.0    1.0     52.0         Villaverde      Ático
5754  220000.0    1.0     42.0             Centro      Ático
5755  215000.0    3.0     66.0           San Blas       Piso

[5756 rows x 5 columns]