In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../raw_data/real_estate_data.csv",index_col="Unnamed: 0").drop(columns="Unnamed: 0.1")

In [3]:
df = df.drop(columns=["elevator","heating","floor"])

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6860 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         6860 non-null   object
 1   rooms         6845 non-null   object
 2   surface       6853 non-null   object
 3   neighborhood  6860 non-null   object
dtypes: object(4)
memory usage: 268.0+ KB

In [5]:
# surface
# dropping nulls
df_nonull = df[df['surface'].notna()]
# cleaning string
new = df_nonull["surface"].str.split(" ", n = 1, expand = True)
df_nonull["surface"] = new[0]
# filter numbers
df_nonull = df_nonull[df_nonull['surface'].str.isnumeric()]
# to float
df_nonull["surface"] = df_nonull["surface"].astype(float)

df = df_nonull

/tmp/ipykernel_8631/3991259347.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_nonull["surface"] = new[0]

In [6]:
# new data frame with split value columns
new = df["neighborhood"].str.split(" en ", n = 1, expand = True)
  
# making separate housetype
df["nhousetype"]= new[0]
  
# making separate dirty neighborhood
df["ndirty"]= new[1]
  
# cleaning neighborhood
new = df["ndirty"].str.split(" en ", n = 1, expand = True)
df["neighborhood"] = new[1]
df["neighborhood"] = df["neighborhood"].apply(lambda x: x.split(", ")[-1])

df = df.drop(columns="ndirty")

In [8]:
len(df["neighborhood"].unique())

22

In [7]:
# price
# cleaning string
new = df["price"].str.split(" ", n = 1, expand = True)
new[0] = new[0].str.replace(".","")
df["price"] = new[0]
# number filter
df = df[df['price'].str.isnumeric()]
# to float
df["price"] = df["price"].astype(float)

/tmp/ipykernel_6082/4006196459.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new[0] = new[0].str.replace(".","")

In [8]:
# rooms
# cleaning string
new = df["rooms"].str.split(" ", n = 1, expand = True)
# to float
new[0] = new[0].astype(float)
df["rooms"] = new[0]
df_clean = df