In [1]:
import pandas as pd
import numpy as np

In [2]:
from RealEstateTracker.preprocessing import rooms

In [85]:
data = pd.read_csv("../real-estate-tracker/data/flats_data.csv")

In [86]:
data = data.drop(columns=["Unnamed: 0", "Unnamed: 0.1", "elevator", "heating", "floor"])

In [87]:
data["tipo"] = data["neighborhood"].apply(lambda x: x.split(" en ")[0])

In [88]:
data["neighborhood"] = data["neighborhood"].apply(lambda x: x.split(" en ")[-1])

In [89]:
data["neighborhood"] = data["neighborhood"].apply(lambda x: x.split(",")[-1])

In [90]:
data["neighborhood"].unique()

array(['Chamberí', ' Retiro', ' Carabanchel', ' Villa de Vallecas',
       ' Centro', 'Tetuán', 'Centro', ' Tetuán', 'Carabanchel',
       ' Puente de Vallecas', 'Barrio de Salamanca', 'Chamartín',
       ' Usera', ' Moncloa - Aravaca', ' Ciudad Lineal',
       ' Barrio de Salamanca', 'Arganzuela', ' Chamartín',
       'Fuencarral - El Pardo', ' Villaverde', ' Latina', 'Moratalaz',
       ' Chamberí', 'Vicálvaro', 'Ciudad Lineal', ' Arganzuela',
       ' Barajas', ' Hortaleza', 'Moncloa - Aravaca', 'Hortaleza',
       '  Madrid Capital', 'San Blas', 'Latina', 'Retiro', 'Usera',
       ' San Blas', 'Villa de Vallecas', 'Villaverde', 'Barajas',
       'Puente de Vallecas', ' Vicálvaro', ' Fuencarral - El Pardo',
       ' Moratalaz', ' Madrid Capital'], dtype=object)

In [53]:
data = data[data["price"].str.contains("€")]

In [94]:
data = data[~data["rooms"].fillna("0 hab").str.contains("ñ")]

In [101]:
data = data[~data["rooms"].fillna("0 hab").str.contains("m²")]

In [107]:
data = data[~data.surface.isna()]

In [120]:
data

          price    rooms surface        neighborhood   tipo
0     566.500 €  2 habs.   87 m²            Chamberí   Piso
1     310.500 €  3 habs.   78 m²              Retiro   Piso
2     220.000 €  4 habs.  103 m²         Carabanchel   Piso
3     171.000 €  2 habs.   81 m²   Villa de Vallecas   Piso
4     369.000 €  3 habs.   83 m²              Centro   Piso
...         ...      ...     ...                 ...    ...
6855  515.000 €  4 habs.  106 m²              Centro   Piso
6856  280.000 €  3 habs.   99 m²            San Blas   Piso
6857  182.100 €   1 hab.   52 m²          Villaverde  Ático
6858  220.000 €   1 hab.   42 m²              Centro  Ático
6859  215.000 €  3 habs.   66 m²            San Blas   Piso

[6699 rows x 5 columns]